.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  max-width: 960;
}
  

/* header css */
.head1 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-block-color: #cccccc;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  vertical-align: middle

}

.head-logo {
  background-color:#4aaaa5;
  padding: 24px;

}

/* content css */
.portfolio-image {
  height: 200px;
  padding-right: 20px;
  width: 200px;
  float: left;
  }
.section-main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #ffffff;
  border-block-color: #dddddd;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.section-content {
max-width: 960px;}

/* footer css */
.foot1 {
  display: flex;
  justify-content: center;
  background-color: #666666;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}